<%- include ('../../partials/header.ejs'); %>
<%- include ('../../partials/navbar.ejs'); %>

<div class="container">
    <div class="card-header">
        <h2>Entrar</h2>
    </div>
    <div class="card-body">
        <form action="/authenticate">
            <input type="email" class="form-control" placeholder="email" name="email">
            <br>
            <input type="password" class="form-control" placeholder="senha" name="password">
            <br>
            <div>
                <button class="btn btn-success">Entrar</button>
            </div>
            
        </form>
    </div>
</div>

<%- include ('../../partials/footer.ejs'); %>